<h2>Leaderboard</h2>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Rank</th>
    <th scope="col">Name</th>
    <th scope="col">Games Played</th>
  </tr>
  </thead>

  <tbody>
  <% @members.each do |member| %>
    <tr>
      <th scope="row"><%= member.current_rank %></th>
      <td><%= member.full_name %></td>
      <td><%= member.games_played %></td>
    </tr>
  <% end %>
  </tbody>
</table>