<div class="row">
  <div class="col-8">
    <div class="box">
      <h2>Match up</h2>
    </div>
  </div>

  <div class="col-4">
    <div class="box">
      <h2>Leaderboard</h2>

      <% @members.each do |member| %>
        <p>
          <%= member.current_rank %>. <% member.name %>
        </p>
      <% end %>
    </div>
  </div>
</div>
