<div class="row">
  <div class="col-8">
    <div class="box">
      <h2>Match up</h2>

      <%= render partial: 'pages/match_up_form' %>
    </div>
  </div>

  <div class="col-4">
    <div class="box">
      <%= render partial: 'pages/leaderboard' %>
    </div>
  </div>
</div>